fastapi
uvicorn
sqlalchemy
requests
python-jose[cryptography]

# Versões fixas para corrigir erro de 'AttributeError' e truncamento de 72 bytes
passlib==1.7.4
bcrypt==3.2.2

# Azure OpenAI
openai>=1.0.0

# Processamento de PDF
PyPDF2

# Driver SQL (Necessário se estiver usando MSSQL/SQL Server)
pyodbc
